<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2 withoutHover"> <h1 style="color: black;"><span style="color: darkred;"> Parent </span> Dashboard</h1></div>
  <div class="page__content shadow p-3 position-relative withoutHover" style="border: 3px solid blue;">
    <div class="page__content-data position-absolute text-center">
      <div class="row ">
        <h1 style="margin-bottom: 5rem; margin-top: 2rem;" class="animation"> <span style="color: black;"> <span style="color: darkred;"> W</span>elcome to <span style="color: darkred;">$</span>ecure </span></h1>
        <div class="container-fluid">
          <div class="d-flex flex-row flex-wrap justify-content-center">
          <div class="card" style="width: 40rem; margin-bottom:10rem">
          <div class="card-header">
          <h1 class="" style="color: black;"> <span style="color: darkred;"> User </span> Details</h1>
          </div>
          <ul class="list-group list-group-flush" style="list-style: none;">
          <li class="list-group-item" style="margin-bottom: 1rem" class=""><strong> Name :</strong> <i style="color: black;"> {{UserProfile?.name}}</i></li>
          <li class="list-group-item" style="margin-bottom: 1rem" class=""><strong> Email :</strong> <i style="color: black;"> {{UserProfile?.email}}</i></li>
          <!-- <li class="list-group-item" style="margin-bottom: 1rem"><strong> Mobile :</strong> <i> {{UserProfile?.name}} </i></li> -->

                  </ul>
              </div>

          </div>
          </div>
        <!-- <img class="dashboard_pic" src="../../assets/welcome.png" style="width: 50;" > -->
      </div>
      <!-- {{UserProfile?.email}} -->
    </div>
  </div>
</div>

<app-dashboardfooter></app-dashboardfooter>
<!-- <div class="container-fluid page" >
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="containter">
<h1>

  Dashboard Content Goes Here
</h1>
      </div>
    </div>
  </div>
</div> -->
