
.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;


}
.page__box {
  min-height: 120px;
  background: #16A085;
  margin: 0 -1rem;
  font-size: 36px;
}
.page__content {
  min-height: calc(100vh - 178px);
  border-radius: 10px;
  margin-top: -2rem;
  background: white;
  color: black;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
}
.page__content-data {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  font-weight: bolder;
  font-style: italic;
  color: darkred;
}
div{
  font-family: 'Times New Roman', Times, serif;
}

.container {
  background: #f9f9f9;
  }
  
  .flex-column {
      max-width: 260px;
  }
  
  img {
      margin: 5px;
  }
  
  .scale {
      transform: scaleY(1.05);
      padding-top: 5px;
  }