<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="row">
        <div class="col sm-8">
          <h1>Welcome to Secure</h1>
        </div>
        <!-- <img class="dashboard_pic" src="../../assets/welcome.png" style="width: 50;" > -->
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid page" >
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="containter">
<h1>

  Dashboard Content Goes Here
</h1>
      </div>
    </div>
  </div>
</div> -->