body {
  background-position: center;
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: cover;
  color: #505050;
  font-family:'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none;
}

.forgot{
    background-color: #fff;
  padding: 12px;
  border: 1px solid #dfdfdf;
}

.padding-bottom-3x {
  padding-bottom: 72px !important;
}

.card-footer{
background-color: #fff;
}

button{
 font-family: 'Times New Roman', Times, serif;
 font-weight: bold;
 color: wheat;
 background-color: darkred;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #76b7e9;
  outline: 0;
  box-shadow: 0 0 0 0px #28a745;
}

div, h2,p{
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}
h1{
  font-weight: bolder;
  font-size: large;
  font-style: italic;
}

mat-form-field{
  width: 100%;
  }
  span{
    padding: 10px;
  }

  .example-card {
    max-width: 700px;
    /* margin: 25px 0px 0px 500px; */

      margin: 50px auto; /* Added */
      float: none; /* Added */
      margin-bottom: 10px; /* Added */



  }
