<!-- <div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="card mt-4">
        <div class="card-body">
      <h1 style="background-color: rgb(137, 226, 137);">Password Reset link has been sent to your Registered Email Address!!!</h1>
      <p>To reset your password, Go to your Email Inbox</p>
      <p>
        Didn't get the link?, Try Again!!!
      </p>
    </div>
    <button mat-raised-button [color]="'accent'"  (click)="resendlink()" style="margin: 0px 700px 10px 30px"> Resend Link</button>
    <button mat-raised-button (click)="goback()" style="margin: 0px 50px 10px 700px"> Go Back</button>
  </div>
</div>
</div>
</div>
 -->
 <app-toolbar></app-toolbar>
 <mat-card class="example-card ">
   <mat-card-title
     style="border:solid; border-radius: 10px; border-color: limegreen;
     background-color: limegreen; font-size:large; font-family: 'Times New Roman', Times, serif;">
     Password reset link has been sent to your Registered Email address!!</mat-card-title>
   <mat-card-subtitle>email</mat-card-subtitle>
   <mat-card-content>
     <p>Didn't get the link?, Try Again!! </p>
   </mat-card-content>
   <mat-card-actions>
     <button mat-button class="animation" (click)="goback()">Go Back</button>
     <button mat-button class="animation" (click)="resendlink()">Resend Link</button>
   </mat-card-actions>
 </mat-card>
 <div class="div" style="margin-bottom: 0; margin-top: 100%;">
   <app-footer></app-footer>
 </div>
