:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
button, h1, label{
  font-family: 'Times New Roman', Times, serif;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-form {
  background-image: repeating-linear-gradient(rgba(241, 31, 66, 0.945) rgb(226, 90, 158) rgb(243, 33, 96));
}

button,
h1,
label {
  font-family: 'Times New Roman', Times, serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

mat-form-field {
  width: 100%;
}

span {
  padding: 10px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}
button{
  border-radius: 20%;
  background-color: #9fcdf0;

}
