<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
      <button mat-button (click)="Back_to_dashboard()">
        <!-- <mat-icon>menu</mat-icon> -->
        <span class="material-symbols-outlined">
          arrow_back
          </span>back
      </button>
      <div class="row mr-2 ml-auto" style="position: fixed; right: 0;">
        <ul class="row m-0 align-items-center">
  
            <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
              <img src="../../assets/login.png" alt="" class="user-image mr-1 p-2" />
              <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item  (click)="signOut()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
              </button>
            </mat-menu>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  