/* button{
    margin-left: 20px;
}
button:hover{
    background-color: rgb(241, 62, 122);
    text-transform: uppercase;
  } */
  @import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
  body {
    background: #2D3142;
    font-family: 'Raleway', sans-serif;
  }


  /* Heading */

  h1 {
    font-size: 1.5em;
    text-align: center;
    padding: 70px 0 0 0;
    color: #EF8354;
    font-weight: 300;
    letter-spacing: 1px;
  }

  span {
    border: 2px solid #4F5D75;
    padding: 10px;
  }


  /* Layout Styling */

  #container {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 150px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }


  /* Button Styles */

  .button {
    display: inline-flex;
    height: 40px;
    width: 100px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    color: blanchedalmond;
    text-align: center;
  }

  a {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
  }


  /* First Button */



  /* Fifth Button */

  #button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  #button-5 a {
    position: relative;
    transition: all .45s ease-Out;
  }

  #translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: blanchedalmond;
    position: absolute;
    transition: all .8s ease-Out;
  }

  #button-5:hover #translate {
    left: 0;
  }

  #button-5:hover a {
    color: black;
  }

button:hover{
  color: black;
}




  @media screen and (min-width:1000px) {
    h1 {
      font-size: 2.2em;
    }
    #container {
      width: 50%;
    }
  }
