
<div class="row">
    <div class="col sm-11" >

      <button mat-raised-button color="accent"  ></button>

    </div>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon></mat-icon>
    </button>
<!-- <div class="col">
</div> -->
<div class="container-fluid">

</div>
<div class="container">
  <div style="margin-top:10px">
  <mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row" > <span *ngIf="row.is_approved=='pending'">{{row.id }}</span>  </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> <span *ngIf="row.is_approved=='pending'"> {{row.name}} </span></td>
    </ng-container>

    <!-- Product Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"><span *ngIf="row.is_approved=='pending'">{{row.email}} </span> </td>
    </ng-container>

    <!-- Category  Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Password </th>
      <td mat-cell *matCellDef="let row"><span *ngIf="row.is_approved=='pending'">{{row.password}}</span>  </td>
    </ng-container>

    <!-- Freshness Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
      <td mat-cell *matCellDef="let row"> <span *ngIf="row.is_approved=='pending'">{{row.gender}}</span>  </td>
    </ng-container>

    <ng-container matColumnDef="phone_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone_Number  </th>
      <td mat-cell *matCellDef="let row"><span *ngIf="row.is_approved=='pending'">{{row.phone_number}}</span>  </td>
    </ng-container>

    <!-- Date Column  -->
    <ng-container matColumnDef="pan_card">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pan_Card </th>
      <td mat-cell *matCellDef="let row"><span *ngIf="row.is_approved=='pending'">{{row.pan_card}}</span>  </td>
    </ng-container>

    <!-- Price Column -->

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
      <td mat-cell *matCellDef="let row"> <span *ngIf="row.is_approved=='pending'"> {{row.address}} </span></td>
    </ng-container>

    <ng-container matColumnDef="is_approved">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row"><span *ngIf="row.is_approved=='pending'">{{row.is_approved}}</span>  </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="approve(row.id)" ><span *ngIf="row.is_approved=='pending'"><mat-icon>check_circle</mat-icon></span>
        </button>
        <button mat-icon-button color="warn"  > <span *ngIf="row.is_approved=='pending'"><mat-icon>clear</mat-icon></span>
</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
</div>

</div>
