
<div class="row">
    <div class="col sm-11" >
     
      <button mat-raised-button color="accent"  ></button>
  
    </div>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
<!-- <div class="col">
</div> -->
<div class="container-fluid">
 
  </div>
  <div class="container">
    <div style="margin-top:10px">
    <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      
      <ng-container matColumnDef="CardNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CardNumber </th>
        <td mat-cell *matCellDef="let row"> {{row.CardNumber}} </td>
      </ng-container>
  
      <!-- Product Column -->
      <ng-container matColumnDef="VendorName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> VendorName </th>
        <td mat-cell *matCellDef="let row"> {{row.VendorName}} </td>
      </ng-container>
  
      <!-- Category  Column -->
      
  
      <!-- Freshness Column -->
      <ng-container matColumnDef="Transaction_Amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction_Amount </th>
        <td mat-cell *matCellDef="let row"> {{row.Transaction_Amount}} </td>
      </ng-container>
  
      <!-- Date Column  -->
      <ng-container matColumnDef="Limit_Balance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Limit_Balance </th>
        <td mat-cell *matCellDef="let row"> {{row.Limit_Balance}} </td>
      </ng-container>

      <ng-container matColumnDef="Transaction_Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction_Date </th>
        <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
      </ng-container>
  
      <!-- Price Column -->
      <ng-container matColumnDef="Transaction_Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction_Status  </th>
        <td mat-cell *matCellDef="let row"> {{row.Transaction_Status}} </td>
      </ng-container>

      

     
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" ><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="warn"  ><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  </div>
  </div>