
<form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div class="row">
    <div class="col sm-11" >
      <h1>Signup</h1>

    </div>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon class="animation">close</mat-icon>
    </button>

  </div>
  <!-- <div  class="d-flex justify-content-between">
  </div>
   -->
    <!-- <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input type="text" matInput [formControl]="nameFormControl"  formControlName="name" [errorStateMatcher]="matcher"
             placeholder="Ex. John Sam">

      <mat-error *ngIf="nameFormControl.hasError('name') && !nameFormControl.hasError('required')">
        Please enter your Full Name
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field> -->

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Enter Full Name">
    </mat-form-field>


      <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" formControlName="email" [errorStateMatcher]="matcher"
               placeholder="Ex. pat@example.com">

        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field> -->

      <mat-form-field appearance="outline">
        <mat-label> Email</mat-label>
        <input formControlName="email" type="email" matInput placeholder="Enter email address ">
      </mat-form-field>


      <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="passwordFormControl" formControlName="password" [errorStateMatcher]="matcher"
               placeholder="password">

        <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
          Please enter your password
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field> -->
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="Enter Password " [type]="hidePassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput [formControl]="password_confirmationFormControl" formControlName="password_confirmation" [errorStateMatcher]="matcher"
               placeholder="confirm_password">

        <mat-error *ngIf="password_confirmationFormControl.hasError('password_confirmation') && !password_confirmationFormControl.hasError('required')">
          Please confirm your password
        </mat-error>
        <mat-error *ngIf="password_confirmationFormControl.hasError('required')">
          Password Confirmation is <strong>required</strong>
        </mat-error>
      </mat-form-field> -->

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input formControlName="password_confirmation" [type]="hideConfirmPassword ? 'password' : 'text'" matInput placeholder="Re-Enter Password ">
        <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <!-- <section>
        <div class="example-label"></div>
        <div class="example-button-row">

        </div>
      </section> -->
      <!-- <div class="row">
        <div class="col sm-11" >
          <button mat-raised-button color="primary" type="submit">Submit</button>

        </div>
        <button mat-icon-button aria-label="close dialog" mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>

      </div> -->

      <div class="row">
        <div class="col sm-8" >
          <button mat-raised-button color="primary" class="animation">{{ actionBtn }}</button>
        </div>
          <button mat-icon-button aria-label="reset" type="reset" color="primary" class="animation" style="margin-right:10px;">
            Clear
          </button>

          </div>
    </form>

