<!-- <button class="custom-btn btn-8"><span>Read More</span></button> -->
<div class="container">
  <div class="box">
    <div class="content">
      <img src="https://i.pravatar.cc/150?img=58" alt="">
      <h2>Daniel Den <br> <span>UX/UI Designer</span></h2>
      <a href="#">Hire Me</a>
    </div>
  </div>

  <div class="box">
    <div class="content">
      <img src="https://i.pravatar.cc/150?img=58" alt="">
      <h2>Daniel Den <br> <span>UX/UI Designer</span></h2>
      <a href="#">Hire Me</a>
    </div>
  </div>

  <div class="box">
    <div class="content">
      <img src="https://i.pravatar.cc/150?img=58" alt="">
      <h2>Daniel Den <br> <span>UX/UI Designer</span></h2>
      <a href="#">Hire Me</a>
    </div>
  </div>

  <div class="box">
    <div class="content">
      <img src="https://i.pravatar.cc/150?img=58" alt="">
      <h2>Daniel Den <br> <span>UX/UI Designer</span></h2>
      <a href="#">Hire Me</a>
    </div>
  </div>
</div>

<style>
  .box{
    margin-right: 50px
    ;
  }
</style>
