.logo{
  text-align: center;
  padding: 2.6rem 1rem;
  margin-bottom: 20px;
  /* background: #03e9f4; */
  /* background: fixed; */
}
img{
  width: 200px;
}

mat-icon{
vertical-align: center;
margin-right: 1rem;
}

mat-divider{
border-top-width: 2px ;
border-color: white;
}

.mat-list-item{
/* color: rgb(195, 146, 245) !important; */
color: blanchedalmond;
height: 44px !important;
margin-bottom: 4px;
font-family: 'Times New Roman', Times, serif;
font-weight: bolder;
font-size: larger;
border-radius: 5px;
margin: 0 8px;
}
.mat-list-item:hover{
background-color:red !important;
font-size: 1rem;
}
.list-item-active{
color: rgb(7, 1, 19) !important;
}
.mat-subheader{
color: blanchedalmond;
font-size: 0.7;
font-weight: bolder;
letter-spacing:1px;
font-family: 'Times New Roman', Times, serif;
}

button{
  color: white;
  size: 20px;
  border: 2px solid wheat;
  border-radius: 20%;
  margin-top: 20px;
}
button:hover{
  background-color:whitesmoke;
  color: black;
  /* text-transform: uppercase; */
}

mat-nav-list{
  /* background: ; */
  height: 100%;
  /* border: 2px solid blue; */
  overflow: hidden;
  background: linear-gradient(20deg, transparent, rgb(111, 111, 216));
}
