<mat-nav-list>
    <div class="logo py-4" style="background-image:linear-gradient(2000deg, blanchedalmond 30%, darkred 60%, blanchedalmond 90%);">
    <!-- <h1 style="text-align: center;">$ecure</h1> -->
    <img class="pic" src="../../assets/secure_pic.gif" alt="pic">
    </div>
    <mat-divider></mat-divider>
    <!-- <h2 matSubheader class="mt-2">Application </h2> -->
    <a mat-list-item routerLink="/parent" routerLinkActive="list-item-active"><mat-icon>supervisor_account</mat-icon> Parent</a>
    <a mat-list-item routerLink="/child" routerLinkActive="list-item-active"><mat-icon>supervisor_account</mat-icon> Child</a>
    <a mat-list-item routerLink="/contact" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon> link</a>
    <!-- <a mat-list-item routerLink="#"><mat-icon>edit</mat-icon> Link1</a>
    <a mat-list-item routerLink="#"><mat-icon>edit</mat-icon> Link2</a>
    <a mat-list-item routerLink="#"><mat-icon>edit</mat-icon> Link3</a>
    <a mat-list-item routerLink="#"><mat-icon>edit</mat-icon> Link4</a>
    <a mat-list-item routerLink="#"><mat-icon>edit</mat-icon> Link5</a> -->
    
    </mat-nav-list>
    