.logo{
  text-align: center;
  padding: 2.6rem 1rem;
}
img{
  width: 200px;
}

mat-icon{
vertical-align: center;
margin-right: 1rem;
}

mat-divider{
border-top-width: 2px ;
border-color: white;
}

.mat-list-item{
/* color: rgb(195, 146, 245) !important; */
color: blanchedalmond;
height: 44px !important;
margin-bottom: 4px;
font-family: 'Times New Roman', Times, serif;
font-weight: bolder;
font-size: larger;
border-radius: 5px;
margin: 0 8px;
}
.mat-list-item:hover{
background-color:red !important;
font-size: 1rem;
}
.list-item-active{
color: rgb(7, 1, 19) !important;
}
.mat-subheader{
color: blanchedalmond;
font-size: 0.6;
font-weight: bolder;
letter-spacing:1px;
font-family: 'Times New Roman', Times, serif;
}
button{
  color: white;
  size: 20px;
}
button:hover{
  background-color: rgb(241, 62, 122);
  text-transform: uppercase;
}