.example-spacer {
    flex: 1 1 auto;
    color: red;
    background-color: black;
  }
  button{
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(230, 21, 136);
    color: white;
  }
  button:hover{
    background-color: red;
    text-transform: capitalize;
  }

  .mat-toolbar {
    background:darkred;
    color: #fff
 }

 span{
   font-size: larger;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }