<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>$ecure</span>
    
    <button mat-raised-button routerLink="/">Home</button>
    <button mat-raised-button routerLink="/aboutus">About</button>
    <button mat-raised-button routerLink="/contact">Contact</button>
    <span class="example-spacer"></span>
    <!-- <app-home></app-home> -->
    <!-- <app-aboutus></app-aboutus> -->
    <app-signup></app-signup>
    <app-signin></app-signin>
    
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>
