.example-spacer {
    flex: 1 1 auto;
    color: red;
    background-color: black;
  }
  button{
    color: white;
    size: 20px;
  }
  button:hover{
    background-color: rgb(241, 62, 122);
    text-transform: uppercase;
  }

  .mat-toolbar {
    background:darkred;
    color: #fff
 }

 .span{
   font-size: larger;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   opacity: 0.7;
   margin-right: 3rem;
 }
 span.some{
  font-size:3rem;
  font-family: fantasy;
  font-weight: bolder;
  opacity: 1;
  color: rgb(138, 245, 245);

}