<!-- <div class="demo-button-container">
    <button mat-raised-button (click)="addData()" class="demo-button">
      Add data
    </button>
    <button
        mat-raised-button
        [disabled]="!dataSource.length"
        (click)="removeData()"
        class="demo-button">
      Remove data
    </button>
  </div>
   -->
<div class="table-resposive" style="margin-top: 50px;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>
    <ng-container matColumnDef="phone_number">
      <th mat-header-cell *matHeaderCellDef>PhoneNumber</th>
      <td mat-cell *matCellDef="let element">{{element.phone_number}}</td>
    </ng-container>
    <!-- Name Column -->
    <!-- <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef>Password</th>
      <td mat-cell *matCellDef="let element">{{element.password}}</td>
    </ng-container> -->

    <!-- Weight Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>

    <!-- Symbol Column -->


    <!-- <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{element.Address}}</td>
    </ng-container> -->

    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef>DOB</th>
      <td mat-cell *matCellDef="let element">{{element.dob}}</td>
    </ng-container>
<!--
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef>Date of Joining</th>
      <td mat-cell *matCellDef="let element">{{element.dob}}</td>
    </ng-container> -->

    <ng-container matColumnDef="joined_date">
      <th mat-header-cell *matHeaderCellDef>Date of Joining</th>
      <td mat-cell *matCellDef="let element">{{element.joined_date}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
