<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h1 class="w3-wide">$ecure </h1>
    <p class="w3-opacity"></p>
    <p class="w3-justify">Unlike a debit card, a Secure is not linked to a bank account. Generally, when you use a Secure, you are spending money that you have already loaded onto the card. “This is sometimes called “depositing money into the card”.
      </p><p> A card that debits money from an associated account that ordinarily uses a signature rather than a PIN for verification... Stored-value card, a card that has a monetary value that is recorded as data on the card itself, and thus can be used without online access to an associated account.</p>
      <p>Virtual Secures are similar  to your regular payment card that you can carry around but it will have information about user's balance that they have been deposited earlier in their Secures. You just need to deposit  it with cash and when you run out of balance, YOU ARE GOOD TO GO. For people who don't have any bank accounts and for teenagers too, a Secure can be of great use</p>
  </div>
