<app-toolbar></app-toolbar>
<div class="card login-form" >
	<div class="card-body">
		<h3 class="card-title text-center" style="font-size: larger; font-family: 'Times New Roman', Times, serif; font-weight: bolder;">Change password</h3>

		<!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->

		<div class="card-text">
			<form [formGroup]="resetPasswordForm">
				<!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <a class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </a>
</div> -->
<!-- <mat-label> Token</mat-label> -->


<!-- <input formControlName="token" matInput > -->

<mat-form-field appearance="outline">

  <mat-label> Email</mat-label>

  <input formControlName="email" matInput placeholder="Enter email  ">
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label> Set new Password</mat-label>
  <input formControlName="password"  matInput placeholder="Enter new password "[type]="hidePassword ? 'password' : 'text'">
  <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>

</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label> Repeat new Password</mat-label>
  <input formControlName="password_confirmation" type="password" matInput placeholder="Enter new Confirm password "[type]="hideConfirmPassword ? 'password' : 'text'">
  <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>

</mat-form-field>
</form>
<div>
  <button type="submit" class="btn btn-primary btn-block submit-btn" (click)="passwordReset()">Update Password</button>
</div>
		</div>
	</div>
</div>
<div class="div" style="bottom:0%; width: 100%;">
  <app-footer></app-footer>
</div>
