
<app-header></app-header>
<!-- <app-side-nav></app-side-nav> -->
<div class="container-fluid page">
  
    <div class="d-flex page__box p-3 mt-2">Parent Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-relative text-left">
        <div class="col">

<button mat-raised-button color="accent" (click)="openP_UDailog()" >User-Profile</button>

<button mat-raised-button color="accent" (click)="openP_CDailog()" >Add Child</button>
<button mat-raised-button color="accent" (click)="openViewChildDailog()" >View Child</button>
<button mat-raised-button color="accent" (click)="openP_CDailog()" >View Transactions</button>

        </div>
       
      </div>
    </div>
  </div>
  