
.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{
    width: 100%;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: auto;
  }
  
  .container{
  max-width: 1200px;
  margin: 0 auto;
  }
  