<div class="row">
  <!-- <h1>{{ UserProfile.name }}</h1> -->
  <div class="col sm-6" style="padding-right: 300px;">
    <h1 mat-dialog-title>Parent KYC</h1>

  </div>
  <div class="col sm-6">
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>

  </div>
</div>
<div mat-dialog-content>
  <form [formGroup]="parentForm">

      <input formControlName="id" matInput placeholder="id" [hidden]="true">

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Enter Full Name">
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label> Email</mat-label>
      <input formControlName="email" type="email" matInput placeholder="Enter email address ">
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="password" type="password" matInput placeholder="Enter Password ">
    </mat-form-field> -->


    <!-- <mat-form-field appearance="outline">
      <mat-label>DOB</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->

    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select placeholder="select gender" formControlName="gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="others">Others</mat-option>

      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput type="number" formControlName="phone_number" placeholder="Enter your Phone Number" min="0 ">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>PAN Card</mat-label>
      <input formControlName="pan_card" matInput placeholder="Enter Pan Card Number ">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <textarea formControlName="address" matInput placeholder="Enter Address"></textarea>
    </mat-form-field>


  </form>
</div>
<!-- <button mat-raised-button [color]="'primary'" (click)="addparent()" >{{ actionBtn }}</button> -->

<div class="row">
  <div class="col sm-10" style="padding-right: 300px;">
    <button mat-raised-button color="primary" class="animation" (click)="addparent()">{{ actionBtn }}
    </button>
  </div>
  <div class="col sm-2 float-right">
    <button class="float-right animation" mat-icon-button aria-label="reset" type="reset" color="primary"
      style="margin-right:10px;">
      Clear
    </button>

  </div>

</div>
