container {
    background: #f9f9f9;
    }
    
    .flex-column {
        max-width: 260px;
    }
    
    img {
        margin: 5px;
    }
    
    .scale {
        transform: scaleY(1.05);
        padding-top: 5px;
    }