<div class="container">
    <h1 style="margin-bottom: 10rem;">Welcome to $ecure</h1>
    <div class="container-fluid">
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <div class="card" style="width: 40rem; margin-bottom:10rem">
                <div class="card-header">
                    <h1>User Details</h1>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="margin-bottom: 1rem"><strong> Name :</strong> <i> Umme Salma</i></li>
                    <li class="list-group-item" style="margin-bottom: 1rem"><strong> Email :</strong> <i>
                            umme.salma@mpokket.com</i></li>
                    <!-- <li class="list-group-item" style="margin-bottom: 1rem"><strong> Mobile :</strong> <i> {{UserProfile?.name}} </i></li> -->

                </ul>
            </div>

        </div>
    </div>
</div>
