<div class="container" style="margin-left: 6rem; margin-top: 3rem;">

    <div class="col" >

        <button mat-raised-button color="accent" (click)="viewParent()">Parents</button>

        <button mat-raised-button color="accent" (click)="viewChild()">Childs</button>
        <button mat-raised-button color="accent" (click)="viewCard()">Cards</button>
        <button mat-raised-button color="accent" (click)="viewTransaction()">Transactions</button>
        <button mat-raised-button color="accent" (click)="viewVendor()">Vendors</button>
        <button mat-raised-button color="accent" (click)="viewRefund()">Refunds</button>


    </div>
</div>
