<div class="container" style="margin-left: 6rem; margin-top: 3rem;">

    <div class="col" >

        <button mat-raised-button class="animation" (click)="viewParent()">Parents</button>

        <button mat-raised-button class="animation"  (click)="viewChild()">Childs</button>
        <button mat-raised-button class="animation"  (click)="viewCard()">Cards</button>
        <button mat-raised-button class="animation" (click)="viewTransaction()">Transactions</button>
        <button mat-raised-button class="animation"  (click)="viewVendor()">Vendors</button>
        <button mat-raised-button class="animation"  (click)="viewRefund()">Refunds</button>


    </div>
</div>
