<h1 mat-dialog-title>Add Child</h1>
<div mat-dialog-content>
  <form [formGroup]="childForm">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input formControlName="fName" matInput placeholder="Enter First Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input formControlName="lName" matInput placeholder="Enter Last Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Email</mat-label>
      <input formControlName="email" matInput placeholder="Enter email address ">
    </mat-form-field>


    
    <mat-form-field appearance="outline">
      <mat-label>DOB</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select placeholder="select gender" formControlName="gender">
      <mat-option value="Fruits">Male</mat-option>
      <mat-option value="Vegetables">Female</mat-option>
      <mat-option value="Electronics">Others</mat-option>
      
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput type="number" formControlName="phone_number" placeholder="Enter your Phone Number" min="0 ">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Monthly Limit</mat-label>
      <input matInput type="number" formControlName="monthly_limits" placeholder="monthly limits" min="0 ">
    </mat-form-field>


  </form>
   </div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button [color]="'warn'" mat-dialog-close>Close</button>
  <button mat-raised-button [color]="'primary'" (click)="addChild()" >{{ actionBtn }}</button>
</div>
