<h1 mat-dialog-title>Add Child</h1>
<div mat-dialog-content>
  <form [formGroup]="childForm">

      <input formControlName="id" matInput [hidden]="true">

    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input formControlName="first_name" matInput placeholder="Enter First Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input formControlName="last_name" matInput placeholder="Enter Last Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Email</mat-label>
      <input formControlName="email" matInput placeholder="Enter email address ">
    </mat-form-field>



    <mat-form-field appearance="outline">
      <mat-label>DOB</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dob">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select placeholder="select gender" formControlName="gender">
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
      <mat-option value="others">Others</mat-option>

      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput type="number" formControlName="phone_number" placeholder="Enter your Phone Number" min="0 ">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Monthly Limit</mat-label>
      <input matInput type="number" formControlName="monthly_limit" placeholder="monthly limits" min="0 ">
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Parent ID</mat-label>
      <input matInput type="text" formControlName="parent_id" placeholder="Enter Parent id" min="0 ">
    </mat-form-field> -->


  </form>
   </div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button [color]="'warn'" class="animation" mat-dialog-close>Close</button>
  <button mat-raised-button [color]="'primary'" class="animation" (click)="addchild()" >{{ actionBtn }}</button>
</div>
