@import url('https://fonts.googleapis.com/css?family=Mina:400,700');


/**
* Variables
*/
/* $circle-image-size: 90px;
$circle-image-border-size: 10px; */


html, body {
  min-height: 100%;
}

body {
  padding: 20px 20px 40px 20px;
  background-color: #f5f5f5;
}


.title {
  font-family: "Mina", sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: #404040;
  text-transform: uppercase;
  margin: 35px 0;
  white-space: nowrap;
}

.custom-card {
  /* &:hover {
    box-shadow: 0px 13px 38px 0px rgba( 0, 0, 0, 0.15 );
  } */
  position: relative;
  margin-bottom: -3px;
  box-shadow: 0px 6px 38px 0px rgba( 0, 0, 0, 0.085 );
  will-change: box-shadow;
  transition: box-shadow .3s ease;
}
  /* .card-body {
    padding-top: $circle-image-border-size + $circle-image-size / 2 + 10px;
  } */

  .card-cover {
    position: relative;
    background: none no-repeat center center / cover;
    height: 140px;
  }
  .card-cover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.45 );
  }


  .circle-image {
    position: absolute;
    background: none no-repeat center center / cover;
    /* width: $circle-image-size;
    height: $circle-image-size; */
    bottom: -50px;
    left: 50%;
    transform: translateX( -50% );
    border-radius: 50%;
  }
  .circle-image:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    /* box-shadow: inset 0 0 0 #{ $circle-image-border-size / 2 + 1 };
    width: calc( 100% + #{ $circle-image-border-size } );
    height: calc( 100% + #{ $circle-image-border-size } );
    border-radius: 50%; */
  }

  @media screen and ( max-width: 768px ) {
    .card-cover {
      background: none;
      height: 0;
    }
    .circle-image {
      position: relative;
      bottom: inherit;
      top: 20px;
      left: 10px;
      transform: none;
      /* &:before {
        box-shadow: none;
      } */
    }
    .card-body {
      padding-top:  20px;
      padding-left: 120px;
    }
  }

