
.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{
    width: 100%;
  }
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    height: 50px;
    width: 600px;
    padding-left: 10px;
  }
  th{
    font-weight: bold;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: navy;
  }


  .container{
  max-width: 1200px;
  margin: 0 auto;
  }
