/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";


html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-color:blanchedalmond;
} */

button{
  border-radius: 20%;

}
.animation:hover{
/* background-color:blanchedalmond; */
/* text-transform: uppercase; */
background: #03e9f4;
color: #fff;
border-radius: 5px;
box-shadow: 0 0 5px #2703f4,
    0 0 25px #03e9f4,
    0 0 50px #2f03f4,
    0 0 100px #03e9f4;
top: 0;
background: linear-gradient(90deg, transparent, #03e9f4);
animation: btn-anim1 1s linear infinite;
color: navy;
text-decoration: solid;
cursor: progress;
border: none;
outline: none;
color: #fff;
color: #2703f4;
color: darkred;
background:#FFDECD;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 10px;
}
 .withoutHover{
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #2703f4,
      0 0 25px #03e9f4,
      0 0 50px #2f03f4,
      0 0 100px #03e9f4;
  top: 0;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
  color: navy;
  text-decoration: solid;
  cursor: progress;
  border: none;
  outline: none;
  color: #fff;
  color: #2703f4;
  color: darkred;
  background:#FFDECD;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
 }

button{
  border-radius: 20%;
}
