<!-- <div class="w3-content container" style="max-width:2000px;margin-top:46px; margin-left: 250px;">

</div> -->
<app-toolbar></app-toolbar>
<div class="container " style="margin-top: 2rem; align-items: center; ">
    <img src="../../assets/home.jpg"  class="img-fluid"  style="border-radius: 5%; size-adjust: auto; width: 100%">
    <div class="span1">
      <h2 style="color: darkblue;" class="">Pre-Paid <span style="color: darkred;" class="withoutHover"> Card</span></h2>
    </div>
  <div class="span2">
      <h2 class="medtext " style="color: navy;">

         Maintain <span style="color: darkred;"> budget</span>
      </h2>

      <h2 class="small " style="color: darkred;">
          Control <span style="color: rgb(0, 255, 21);">on</span> <span style="color: navy;">  Card</span>
      </h2>


  </div>
  <div class="span3">
      <h2 style="color: navy;" class="">Manage your <span  class="" style="color: darkred;"> Child's Card</span>
      </h2>
  </div>
  <div class="span4" style="margin-bottom: 300px;">
      <h2 style="color: darkred;">
         Track
      </h2>
  </div>

  <div class="span5">
    <h2 style="color: navy;" class="">It Keeps You Connected <span style="color: green;"> to</span> <span style="color: darkred;">Your Kids</span>

    </h2>

  </div>
  <div class="span6">
    <h2 style="color: navy;" class=""> <span style="color: red">Track</span>  Transaction</h2>

  </div>
  <div class="span7">

    <h2 style="color: blue;"> Money <span style="color: red;">Control </span></h2>
  </div>



</div>

<div class=" " >
  <h1 class="hero">
      <span style="color:darkred;" class="">$</span><span style="color: navy;">ecure</span>

  </h1>

</div>
<app-footer></app-footer>
